@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #6f00dd;
  --color-primary-50: #f5f0ff;
  --color-primary-100: #ede4ff;
  --color-primary-200: #ddcdff;
  --color-primary-300: #c5a5ff;
  --color-primary-400: #ab72ff;
  --color-primary-500: #943aff;
  --color-primary-600: #8d12ff;
  --color-primary-700: #8101ff;
  --color-primary-800: #6f00dd;
  --color-primary-900: #5a02b0;
  --color-primary-950: #360078;

  --color-secondary: #00D2FF;
  --color-secondary-50: #eafeff;
  --color-secondary-100: #cbfbff;
  --color-secondary-200: #9ef5ff;
  --color-secondary-300: #5beaff;
  --color-secondary-400: #00d2ff;
  --color-secondary-500: #00b8e5;
  --color-secondary-600: #0092c0;
  --color-secondary-700: #03739b;
  --color-secondary-800: #0d5d7d;
  --color-secondary-900: #104d69;
  --color-secondary-950: #033249;

  --color-accent: #F2F6F9;
  --color-accent-50: #f2f6f9;
  --color-accent-100: #e9f0f5;
  --color-accent-200: #cfdee8;
  --color-accent-300: #a5c4d4;
  --color-accent-400: #75a4bb;
  --color-accent-500: #5389a4;
  --color-accent-600: #406e89;
  --color-accent-700: #35586f;
  --color-accent-800: #2f4c5d;
  --color-accent-900: #2b414f;
  --color-accent-950: #1d2a34;

  --font-inter: 'Inter', sans-serif;
  --font-rajdhani: 'Rajdhani', sans-serif;

  --animate-spin-reverse: spin-reverse 8s infinite linear;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(360deg)
  }

  100% {
    transform: rotate(0deg)
  }
}

@layer base {
  * {
    @apply box-border
  }

  body {
    @apply overflow-x-hidden text-black font-normal text-base font-inter;
  }

  section {
    @apply relative
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-bold leading-[1] font-rajdhani uppercase;
  }

  label {
    @apply block
  }

  :is(input, textarea) {
    @apply outline-none w-full resize-none bg-transparent;
  }
}

@layer utilities {
  .container {
    @apply w-full px-5 lg:px-3 mx-auto relative sm:max-w-[540px] md:max-w-[720px] lg:max-w-[940px] xl:max-w-[1140px] 2xl:max-w-[1350px]
  }
}

@layer components {
  .row {
    @apply -mx-3 flex flex-wrap *:shrink-0 *:grow-0 *:basis-auto *:relative *:w-full *:max-w-full *:px-3
  }

  .bg_grd {
    background-image: -webkit-linear-gradient(-28deg, var(--color-primary) 0%, var(--color-primary-950) 60%, var(--color-primary) 60%, #fff 60%);
  }

  .title {
    @apply text-[48px] leading-[52px] font-normal;
  }

  .animate-gradientMove {
    background-image: linear-gradient(to left, var(--color-primary-900), var(--color-red-500), var(--color-green-700), var(--color-secondary));
    background-size: 400% 400%;
    animation: gradientMove 5s linear infinite;
  }

  .signup_form :where(input, textarea) {
    @apply bg-white p-2.5 text-sm;
  }

  .contactForm :where(input, textarea) {
    @apply text-white pb-3;
  }

  .contactForm .input_wrapper>div {
    @apply relative;

    &::before {
      @apply absolute left-0 bottom-0 w-full h-[0.5px] bg-white/30 content-[''] transition-all duration-300 ease-in-out;
    }

    &::after {
      @apply absolute left-0 bottom-0 w-0 h-[0.5px] bg-white content-[''] transition-all duration-300 ease-in-out;
    }
  }

  .contactForm .input_wrapper>div:has(input:focus, textarea:focus)::after {
    @apply w-full;
  }
}

.sec3_slider .swiper-pagination {
  @apply relative mt-20;
}

.sec3_slider .swiper-pagination-bullet {
  @apply transition-all duration-300 ease-in-out;
}

.sec3_slider .swiper-pagination-bullet-active {
  @apply w-5 rounded-3xl bg-primary;
}

.sec3_slider .swiper-slide {
  @apply scale-95 opacity-70 shadow-[-7px_7px_10px] shadow-black/10 transition-all duration-500 ease-in-out;
}

.sec3_slider .swiper-slide-active {
  @apply scale-110 opacity-100 shadow-[-7px_7px_20px] shadow-black/10;
}

.sec3_slider .swiper-slide .bg_hlf {
  @apply w-1/4 h-full absolute z-0 left-0 top-0 opacity-0 transition-all duration-400 ease-in-out;
}

.sec3_slider .swiper-slide-active .bg_hlf {
  @apply opacity-100;
}
